body, table, tr, th, td, form, input, ul, li, div, a, h2, p{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 40px;
    line-height: 56px;
    text-align: center;
}
header span {
    color: #fff;
}

.sidebar {
    height: 480px;
    width: 350px;
    float: left;
}
.content {
    width: calc(100% - 350px);
    margin-left: 350px;
}


.photoArea {
    position: relative;
    width: 100px;
    float: left;
    margin-top: 100px;
    text-align: center;
}
.eachPhoto {
    display: none;
}
.photoArea p {
    color: #fff;
}
.photoArea .photo {
    width: 100px;
    height: 100px;
    margin-top: 34px;
}
.photoArea .AlphaGoSay {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 20px;
    top: -20px;
    border-radius: 10px;
    background-color: #00aaee;
    text-align: center;
    line-height: 20px;
}
.AlphaGoSay .triangle {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid #00aaee;
    border-bottom: 10px solid transparent;
}
.AlphaGoSay span {
    color: #fff;
    font-size: 16px;
}

.card_package {
    float: left;
}
.card_package img {
    width: 140px;
    height: 180px;
    margin-left: 40px;
    margin-top: 170px;
}
.package_num {
    color: #fff;
}

.container {
    width: 1240px;
    margin: 0 auto;
    background: url("../img/back.png") no-repeat;
    background-size: 100%;

}

.card_area {
    height: 400px;
    width: 100%;
}
.middle_line {
    width: 100%;
    background-color: #ccc;
    height: 2px;
}
._card_area {
    width: 100%;
    height: 260px;
    position: relative;
}
#card_cover {
    position: absolute;
    border-radius: 10px;
    width: 128px;
    height: 174px;
    left: -170px;
    top: 128px;
    z-index: 20;
    display: none;
    background: url("../img/card_back.png");
}
.cardBox {
    position: absolute;
    left: -170px;
    top: -70px;
}

.choiceBox {
    width: 800px;
    height: 130px;
    margin: 40px auto;
}

.choice:hover {
    background-color: #53f8f6;
    color: #f8539d;
}
.choice:disabled {
    background-color: #2a2e3d;
}
.choice {
    text-align: center;
    width: 120px;
    height: 40px;
    margin-left: 120px;
    cursor: pointer;
    background-color: #0ae;
    outline: none;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #eee;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1px 1px #c2c2c2;
    -webkit-transition: all 0.3s ease-in-out;
    display: none;
}


.gameResults {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: center;
    line-height: 90px;
    color: #fff;
}
#game_result {

}



.menu {
    position: fixed;
    width: 600px;
    height: 330px;
    margin-left: calc(50% - 300px);
    margin-top: 30px;
    display: block;
    /*display: none;*/
    z-index: 10;
    box-shadow: 0 0 2px 2px #bd9156;
    border-width: 20px;
    background: url("../img/menu_border.png") no-repeat;
    background-size: 100%;
    animation: transition 1s;
    -webkit-animation: transition 1s;
    -webkit-animation-fill-mode: forwards;  /*动画停留在结束时的动作*/

}
.menu img {
    width: 80px;
    height: 70px;
    position: absolute;
    left: calc(50% - 40px);
    top: -30px;
}
.menuList {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
    border-width: 10px;
    border-image: url("../img/border.png") 10% 10% 10% 10%;
}
.menuList span {
    font-size: 20px;
    color: #fff;
}


.clearFloat {
    zoom: 1;
}
.clearFloat:after {
    content: '';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
@-webkit-keyframes transition {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
    }
}
