.aqi-chart-wrap {
    padding-top: 50px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
.aqi-chart-wrap > ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
}
.aqi-chart-wrap > ul > li {
    width: 10px;
    list-style: none;
    cursor: pointer;
}
.chart-y {
    width: 30px;
    border-left: 2px solid #eee;
    position: relative;
}
.chart-y span {
    position: absolute;
    display: block;
    width: 30px;
}
